@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

// @font-face {
//   font-family: "ubuntu";
//   src: url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
// }

html,
body {
  padding: 0;
  margin: 0;
  font-family: "ubuntu" !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.align-items-center {
  position: absolute;
  transform: translate(-50%, -50%);
}

.img_home_panda {
  left: 47%;
  z-index: 2;
}

.img_home_camera {
  left: 70%;
  z-index: 2;
}

.img_home_basket {
  left: 60%;
}
